{% extends 'bases/authentication_base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<main class="bg-gray-500 dark:bg-gray-800 min-h-screen">
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-full pt:mt-0 dark:bg-gray-800">
        <a href="#" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
            <img src="{% static 'images/logo.svg' %}" class="mr-4 h-11" alt="Logo">
            <span>MyApp</span>  
        </a>

        <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                Reset Password
            </h2>

            <!-- Notification Message -->
            <div class="text-center w-full bg-white p-6 rounded shadow-md dark:bg-gray-700">
                <p class="text-lg font-medium mb-4 text-gray-900 dark:text-white">
                    We have sent you an email. If you have not received it, please check your spam folder.
                </p>
                <p class="text-lg font-medium mb-4 text-gray-900 dark:text-white">
                    Otherwise, contact us if you do not receive it in a few minutes.
                </p>
                <a href="{% url 'users:account_login' %}" 
                   class="py-2 px-4 bg-primary-700 text-white font-bold rounded hover:bg-primary-800 inline-block">
                    Sign In
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
