{% load static %}
<html lang="en" class="">

<head>
  <meta charset="utf-8" />

  <title>Boxes project</title>


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://flowbite-admin-dashboard.vercel.app//app.css" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://flowbite-admin-dashboard.vercel.app/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://flowbite-admin-dashboard.vercel.app/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://flowbite-admin-dashboard.vercel.app/favicon-16x16.png" />
  <link rel="icon" type="image/png" href="https://flowbite-admin-dashboard.vercel.app/favicon.ico" />
  <link rel="manifest" href="https://flowbite-admin-dashboard.vercel.app/site.webmanifest" />
  <link rel="mask-icon" href="https://flowbite-admin-dashboard.vercel.app/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />

  <script>
    if (
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>

 
</head>

<body class="bg-gray-50 dark:bg-gray-800 flex flex-col min-h-screen ">
  {% include 'pages/header.html' %}

  <div id="main-content" class="relative w-full  mx-auto bg-gray-50 dark:bg-gray-900 flex-grow">
    <main>
      <div class="px-4 pt-16 ">
          <div class=" w-full pt-6">

          <!-- Main content -->
          {% block content %} 
          {% endblock %}
        </div>
      </div>
    </main>
  </div>


      </div>
    </div>

    <script
      async=""
      defer=""
      src="https://buttons.github.io/buttons.js"
    ></script>
    <script src="https://flowbite-admin-dashboard.vercel.app//app.bundle.js"></script>
    <svg
      id="SvgjsSvg1344"
      width="2"
      height="0"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.dev"
      style="
        overflow: hidden;
        top: -100%;
        left: -100%;
        position: absolute;
        opacity: 0;
      "
    >
      <defs id="SvgjsDefs1345"></defs>
      <polyline id="SvgjsPolyline1346" points="0,0"></polyline>
      <path
        id="SvgjsPath1347"
        d="M-1 2647.699L-1 2647.699C-1 2647.699 53.76041666666667 2647.699 53.76041666666667 2647.699C53.76041666666667 2647.699 107.52083333333334 2647.699 107.52083333333334 2647.699C107.52083333333334 2647.699 161.28125 2647.699 161.28125 2647.699C161.28125 2647.699 215.04166666666669 2647.699 215.04166666666669 2647.699C215.04166666666669 2647.699 268.80208333333337 2647.699 268.80208333333337 2647.699C268.80208333333337 2647.699 322.5625 2647.699 322.5625 2647.699C322.5625 2647.699 322.5625 2647.699 322.5625 2647.699 "
      ></path>
    </svg>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js"></script>
    <!-- jQuery (required for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- formset -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>

    <script>
    $(function() {
        $('#sequence-table').formset({
            addText: "Add More",
            deleteText: '',
            addCssClass: "text-gray-700  border border-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-gray-600 dark:text-white ", 
            prefix: '{{ sequence_formset.prefix }}',
        });
    });
</script>
  


   
  </body>
</html>